@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; /* Adjust as needed */
  line-height: 1.5; /* Improve readability */
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem; /* Adjust size for main headings */
  font-weight: 700; /* Bold */
}

button {
  font-family: "Montserrat", sans-serif; /* Keep button text consistent */
  font-weight: 600; /* Medium weight for buttons */
}
